<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
<h1>Fill in the blanks to write your story!</h1>
      <div>
        <form action="/formLib">
        <div class="form-group">
            <label for="Name">A name</label>
            <input id="Name" name="Name" class="form-control" type="text">
          </div>
        <div class="form-group">
            <label for="AnotherName">Another name</label>
            <input id="AnotherName" name="AnotherName" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="Animal">An animal</label>
            <input id="Animal" name="Animal" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="Exclamation">An exclamation</label>
            <input id="Exclamation" name="Exclamation" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="Verb">A past tense verb</label>
            <input id="Verb" name="Verb" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="Noun">A noun</label>
            <input id="Noun" name="Noun" class="form-control" type="text">
          </div>
          <button type="submit" class="btn">Show me the story!</button>
        </form>
      </div>
    </body>
</html>